---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const posts = (await getCollection("blog", ({ data }) => !data.draft)).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

const formatDate = (date: Date) =>
    new Intl.DateTimeFormat("en", {
        month: "long",
        day: "2-digit",
        year: "numeric",
    }).format(date);
---

<Layout title="Blog" description="My personal web blog">
    <section>
        <ol aria-label="Blog posts">
            {
                posts.map((post) => {
                    return (
                        <a href={`/blog/${post.id}/`}>
                            <li>
                                <h2>{post.data.title}</h2>
                                <time datetime={post.data.date.toISOString()}>
                                    {formatDate(post.data.date)}
                                </time>
                                <p>{post.data.description}</p>
                            </li>
                        </a>
                    );
                })
            }
        </ol>
    </section>
</Layout>
