---
import { ClientRouter } from "astro:transitions";

interface Props {
	title?: string;
	description?: string;
}

const siteTitle = "João Zenaro";
const { title = siteTitle, description = "Welcome to my personal page" } =
	Astro.props;

const pageTitle = title === siteTitle ? siteTitle : `${title}`;

const segments = Astro.url.pathname.split("/").filter(Boolean);

const breadcrumbs = [
	{ name: "home", href: "/" },
	...segments.map((segment, index) => ({
		name: segment,
		href: "/" + segments.slice(0, index + 1).join("/"),
	})),
];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{pageTitle}</title>
		<ClientRouter />
	</head>
	<body>
		<header class="site-header">
			<nav aria-label="Breadcrumb">
				<ol class="breadcrumb">
					<li>/</li>
					{
						breadcrumbs.map((crumb, index) => (
							<li>
								{index === breadcrumbs.length - 1 ? (
									<span>{crumb.name}</span>
								) : (
									<a href={crumb.href}>{crumb.name}</a>
								)}
							</li>
							<li>/</li>
						))
					}
				</ol>
			</nav>
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<span>João Zenaro - software developer</span>
		</footer>
	</body>
</html>

<style is:global>
	:root {
		--bg: #242424;
		--fg: #dbdbdb;
		--accent: #156acc;
		--font-sans: "Inter", system-ui, sans-serif;
	}

	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	body {
		min-height: 100vh;
		background: var(--bg);
		color: var(--fg);
		font-family: var(--font-sans);
		font-size: medium;
		display: flex;
		flex-direction: column;
	}

	.site-header {
		height: 50px;
		display: grid;
		place-items: center;
	}

	.breadcrumb {
		display: flex;
		list-style: none;
		column-gap: 8px;
	}

	footer {
		height: 50px;
		display: grid;
		justify-content: end;
		align-content: center;
		padding-right: 20px;
  		margin-top: auto;
	}

	footer span {
		opacity: .3;
		font-size: small;
	}

	main {
		flex: 1;
		display: flex;
	}

	h1 {
		font-family: var(--font-sans);
		font-size: large;
		font-weight: 500;
	}

	p, a {
		color: var(--fg);
		color: var(--fg);
	}
</style>
